/* COLORES */
$color-primario: #fb9403;
$color-1: #3f84facb;
$color-2: #03cb8f;
$color-3:#9cc624;
$color-4:#fb9403;
$color-5: #F9245F;

/* FUENTES */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2') format('woff2');
}
*{
font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
.quienesPortada{
    width: 100%;
    height: 30vw;
}
.directoraContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    *{
        padding: 1em;
    }
    @media (max-width: 768px) {
        padding: none;
        flex-direction: column-reverse;
        *{
            padding: 1em;
        }
    }
}
.textoDirectora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-family: "Rancho";
        font-size: 3em;
        padding: 0.5em !important;
    }
}
.imgDirectoraContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.historia{
    background-color: $color-primario;
    padding: 4em;
    font-size: 1.3em;
    color: white;
    font-style: italic;
    @media (max-width: 768px) {
        padding: 2em;
    }
    margin-bottom: 0;
}
.nuestrostaff{
    text-align: center;
    padding: 0.5em;
    padding-bottom: 0;
    font-size: 4em;
    font-family: "Rancho";
    color: $color-primario;
}

#cp1{
    background-color: $color-1!important;
}
#cp2{
    background-color: $color-2!important;
}
#cp3{
    background-color: $color-3!important;
}
#cp4{
    background-color: $color-4!important;
}
#cp5{
    background-color: $color-5!important;
}
#cp6{
    background-color: $color-1!important;
}
#cp7{
    background-color: $color-2 !important;
}
#cp8{
    background-color: $color-3!important;
}
#cp9{
    background-color: $color-4!important;
}
#cp10{
    background-color: $color-5!important;
}
.cardProfes{
    color: white;
    margin: 3.8vw;
    border-radius: 2vw;
    h3{
        font-weight: 700;
        font-size: 1.5em;
        font-family: "Rancho";
        margin-bottom: 0;
    }
    img{
        width: 17vw;
        margin: 1em;
        border-radius: 1vw;
        @media (max-width: 768px) {
            width: 60vw;
        }
    }
    h5{
        
        font-size: 1em;
        padding: 0;
        margin: 0 0.1em;
        text-align: center;
    }
    p{
        font-size: 0.8em;
        font-style: italic;
        text-align: justify;
    }
}
.profesC{
    .col-md-4{
        margin: 0;
    }
    padding: 0;
    @media (max-width: 2000px) { 
        .card-body{
            height: 32.6vw;
        }
    }
    @media (max-width: 1600px) { 
        .card-body{
            height: 38.3vw;
        }
    }
    @media (max-width: 1350px) { 
        .card-body{
            height: 44.3vw;
        }
    }
    @media (max-width: 1200px) { 
        .card-body{
            height: 49vw;
        }
    }
    @media (max-width: 1080px) { 
        .card-body{
            height: 58vw;
        }
    }
    @media (max-width: 941px) { 
        .card-body{
            height: 79.5vw;
        }
    }
    @media (max-width: 768px) { 
        .card-body{
            height: auto;
        }
    }
}