/* COLORES */
  $color-primario: #fb9403;
  $color-1: #3F84FA;
  $color-2: #03cb8f;
  $color-3:#9cc624;
  $color-4:#fb9403;
  $color-5: #F9245F;
  /* FUENTES */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2') format('woff2');
  }
*{
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
.inicioContainer{
  display: flex;
  flex-direction: column;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
/* NAVBAR */
.navbarMobile{
  display: none !important;
  @media (max-width: 768px) {
    display: flex !important;
  }
}
.navlinkmobile{
  color: black !important;
  text-align: center;
}
.navbarL {
  @media (max-width: 768px) {
    display: none !important;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: white;
  position: relative;
  z-index: 1;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0 2em;
  padding: 0;
}

.navbar__menu-item {
  padding-left: 3em;
}

.navbar__menu-item:first-child {
  margin-left: 0;
}

.navbar__menu-item:hover > a {
  border-bottom: 2px solid orange;
  text-shadow: 0.1px 0.1px 5px rgba(128, 128, 128, 0.205);
}

.navbar__menu-item > a {
  font-size: 1.5vw;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgba(36, 36, 36, 0.878) !important;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease-in;
}
#serviciosList{
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 1em  1em;
  li{
    list-style: none;
    padding-left: 0 !important;
  }
  a{
    color: black !important;
    font-size: 1.2vw;
  }
}
#serviciosLink{
  display: relative;
  &:hover{
    #serviciosList{
      display: block;
    }
  }
}

.logoHeader{
  width: 8vw;
  margin: 0 2em;
}

@media (max-width: 768px) {

  .logoHeader{
    width: 6em;
    margin-left: 3em;
  }
}

/* FOOTER */
footer{
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
footer h6{
  font-size: 2em;
  font-style: italic;
  text-shadow: 2px 2px 2px rgb(63, 63, 63);
  color: white;
}
.barraFooter{
  padding-top: 1em;
  *{
    padding: 1em;
    font-size: 1.5em;
  }
  a:hover{
      text-shadow: 3px 3px 6px grey;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    *{
      padding: 0.3em;
      font-size: 1em;
    }
  }
}
.redesFooterContainer{
  display: flex;
  flex-direction: row;
  a:hover{
    text-shadow: 3px 3px 6px grey;
}
}
.redesFooter{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0vw 3vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: white;
}
.redesIconF{
  font-size: 3em;
  @media (max-width: 768px) {
    font-size: 2em !important;
  }
}
.desarrolado{
  font-size: 0.8em;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
}
/* saludo */
.saludo{
  background-color: $color-primario;
  padding: 3vw;
  h3{
    font-weight: 700;
    text-align: center;
    font-size: 3vw;
    color: white;
  }
  p{
    padding: 2vw 16vw;
    font-size: 1.2vw;
    text-align: center;
    color: white;
  }
}
@media (max-width: 768px) {
  .saludo{
    padding: 10vw 10vw;
    h3{
      font-size: 8vw;
      padding: 1vw;
    }
    p{
      padding: 1vw;
      font-size: 4vw;
    }
  }
}
/* planetas */
.planetasEstrellas{
  background-image: url("../../Images/estrellas.jpg");
}
.planetasContainer{
  margin: 9vw;
  margin-top: 6vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    " planeta1 . planeta3 ." 
    ". planeta2 . planeta4 " ;
  padding-top: 60px;
  padding-bottom: 0px;
  cursor: none;
  padding-left: 7vh;
  padding-right: 3vh;
}
@media (max-width: 1024px) {
  .planetasContainer{
    padding-left: 4vh;
    padding-right: 1vh;
  }
}
@media (max-width:768px){
  .planetasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 40px;
    cursor: auto;
  }
}
.cohete{
  z-index: 2;
}
@media (max-width:768px) {
  .cohete{
    display: none;
  }
}
.planeta{
  background-image: url("../../Images/marte.png");
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir el fondo del elemento */
  background-position: center center;
  text-align: center;
  width: 20vw;
  height: 20vw;
  z-index: 1;
  transition: transform 0.5s ease;
}
.planeta:hover{
  transform: scale(1.2);
}
#planeta1 {
  grid-area:planeta1; 
}

#planeta2 {
  grid-area: planeta2;
  filter: hue-rotate(90deg);
}
#planeta2 img{
  filter: hue-rotate(-90deg);
}
#planeta3 {
  grid-area: planeta3;
  filter: hue-rotate(180deg);
}
#planeta3 img{
  filter: hue-rotate(-180deg);
}

#planeta4 {
  grid-area: planeta4;
  filter: hue-rotate(280deg);
}
#planeta4 img{
  filter: hue-rotate(-280deg);
}

.tituloPlaneta{
  color: black;
  font-size: 2.2vw;
  text-align: center;
  font-family: 'Rancho', cursive;
  padding-top: 2vw;
  padding-right: 1.4vw;
  padding-left: 0.5vw;
  transform: rotate(-20deg); 
  line-height: 1;
}
.cartel{
  position: absolute;
  width: 11vw;
  height: 14vw;
  background-image: url("../../Images/cartel.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: translate(-2vh, -15vh);
}

.textoPlaneta{
  color: white;
  text-shadow: 5px 5px 7px rgb(67, 67, 67);
  font-size: 2.2vw;
  font-family: 'Rancho';
  margin: 5vw 1vw;  
  transform: translate(-0.3vw) rotate(-12deg);
  line-height: 0.9;
}

.imagenPlaneta{
  width: 20.2vw;
  height: 20.2vw;
  object-fit: cover;
  position: absolute;
  border-radius: 100%;
  z-index: 5;
  transform: translateX(-0.1vw);
}
.carouselPlanetas{
  display: none;
}
@media (max-width:768px) {
  .carouselPlanetas{
    display: block;
  }
  .planetasContainer{
    display: none;
  }
  .planeta{
    margin-top: 14vh ;
    margin-left: -8vh;
    width: 70vw;
    height: 70vw;

  }
  .planeta:hover{
    transform: none;
  }
  .cartel{
    width: 26vw;
    height: 32vw;
    transform: translate(-2vh, -12vh);
  }
  .tituloPlaneta{
    padding-top: 6vw;
    font-size: 5vw;
  }
  .textoPlaneta{
    font-size: 7vw;
    margin-top: 4vw;
    padding: 7.5vw 2vw;
    transform: translate(-1vh, 10vh) rotate(-12deg);
  }
  .carouselPlanetasInner  .carousel-inner{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF0000' viewBox='0 0 8 8'%3e%3cpath d='M1.5 0l-.5.5v7l.5.5h6l.5-.5v-7l-.5-.5h-6zm5 1v5l-4-2.5z'/%3e%3c/svg%3e");
    filter: invert(2) grayscale(0%) brightness(200%);
  }
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF0000' viewBox='0 0 8 8'%3e%3cpath d='M1.5 0l-.5.5v7l.5.5h6l.5-.5v-7l-.5-.5h-6zm5 1v5l-4-2.5z'/%3e%3c/svg%3e");
    filter: invert(2) grayscale(0%) brightness(200%);
  }
  .carousel-indicators{
    display: none !important;
  }
  .imagenPlaneta{
    width: 70vw;
    height: 70vw;
    transform: translateX(-0.5vw) !important;
  }
}
@media (max-width: 450px) {
  .cartel{
    transform: translate(-2vh, -6vh);
  }
  .planeta{
    margin-top: 8vh ;
    margin-left: -5vh;
  }
  .textoPlaneta{
    transform: translate(-1vh, 6vh) rotate(-12deg);
  }
}

/* acerca de legatto */
.acercaInicioContainer{
  padding-top: 0vw;
  padding-bottom: 8vw;
  margin-bottom: 4vw;
  display: flex;
  flex-direction: row;

  background-image: url('../../Images/astronauta.png');
  background-repeat: no-repeat;
  background-position: bottom right; 
  background-size: 20vw; 
  span{
    color: $color-primario;
    padding: 0;
    font-family: "Rancho";

  }
  h3{
    font-size: 2.5vw;
    font-weight: 600;
    font-family: "Rancho";
  }
}
@media (max-width: 768px) {
  .acercaInicioContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vw;
    h3{
      font-size: 6vw;
    }  
  }
}

.imgAcercaDe{
  flex-grow: 1;
  width: 53vw;
  height: 35vw;
  padding: 2vw;
  transform: translateY(4vw);
  border-radius: 4vw;
  @media (max-width: 768px){
    width: 95%;
    height: auto;
  }
}
.textoContainerAcercaInicio{
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.textoContainerAcercaInicio *{
  padding: 2vw;
  @media (max-width: 768px) {
    text-align: justify;
  }
}
.btn-primario{
  background-color: $color-primario !important;
  border-color: $color-primario !important;
}
.btn-primario:hover{
  background-color: #e5690a !important;
}

/* preinscribete */
.preinscribiteContainerPadre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vw ;
  padding-bottom: 6vw;
  background-image: url('../../Images/fondomusical1.png'), url('../../Images/fondomusical2.jpg');
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 18vw;
  @media (max-width: 768px) {
    background-image: url('../../Images/fondomusical2.jpg');
    background-size: 40vw;
    background-position: right top;
    padding-top: 3vw;
  }
  h2{
    font-size: 4.7vw;
    color: #fb9403;
    text-shadow: 4px 4px 6px rgba(135, 135, 135, 0.375);
    font-family: "Rancho";
    @media (max-width: 768px) {
      font-size: 12vw;
    }
  }
  .card{
    height: 30em;
  }
} 
.card-body{
  height: 14em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 768px) {
    height: 13em;
  }
}

.cardClase{
  width: 23vw !important;
  @media (max-width: 768px) {
    width: 70vw !important;
    height: auto !important;
  }
}
.row{
  justify-content: center;
}
/* frase suzuki */
.suzukiContainerPadre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.suzukiContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 10vw;
  background-size: cover;
  background-position: center;
  background-image: url("../../Images/suzuki.jpeg");
  @media (max-width: 768px) {
    padding-top: 1vw;
  }
}
.suzukiContainer p{
  padding: 2vw;
  color: white;
  font-size: 1.6vw;
  @media (max-width: 768px) {
    font-size: 3vw;
    padding: 3vw 0.8vw;
    max-width: 32vw !important;
  }
}
/* Opiniones */

.row{
  --bs-gutter-x: 0 !important;
}

.opinionesContainer{
  padding: 2em;
  p{
    padding: 0.4em;
  }
  h5{
    padding: 0.4em;
  }
  @media (max-width: 768px) {
    padding: 0em;
  }
  img{
    width: 12em;
  }
  .card-body{
    height: auto;
    padding: 1em 0 !important;
  }
  .card{
    border: none;
    margin-bottom: 2em;
    margin-top: 3em;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 30%;
    margin: 0 1%;
    @media (max-width:768px) {
      width: 80%;
      margin: 0;
    }
}
}

/* Contadores */
.contadorContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 4vw;
}
.contadores{
  width: 9vw;
  text-align: center;
  color: orange;
  font-size: 6vw;
  @media (max-width: 768px) {
    font-size: 8vw;
  }
}
.contadorGrupo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contadorGrupo p{
  text-align: center;
  font-size: 3vw;
  padding: 0vw;
  margin-bottom: 0;
  @media (max-width: 768px) {
    font-size: 7vw;
  }
}
/* Alerta */
.alerta{
  background-color: $color-primario !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textoAlerta{
  color: white !important;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}
