/* COLORES */
$color-primario: #fb9403;
$color-1: #3F84FA;
$color-2: #03cb8f;
$color-3:#9cc624;
$color-4:#fb9403;
$color-5: #F9245F;
/* FUENTES */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2') format('woff2');
}
*{
font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
.formularioContainer{
    background-image: url("../../Images/estrellas.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 2em;
    h2{
      font-family: "Rancho";
      font-size: 3em !important;
      background-color: $color-primario;
      color: white;
      padding: 0.7vw;
      border-radius: 1.5vw;
      margin: 2vw !important;
    }
}

.siguenos {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 20px !important;
  }
  .siguenosIcons{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .siguenosRedS{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .containerIcon{
    border-radius: 100% !important;
    background-color: $color-primario !important;
    width: 6em !important;
    padding: 1em !important;
  }
  .redesIcon{
    color: white !important;
    font-size: 4em !important;
  }
  .mapaContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 2em;
    h4{
      font-family: "Rancho";
      font-size: 2em;
      padding-top: 2em;
      padding-bottom: 1em;
    }
  }
  
  .formTextos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    padding: 2vw;
    border-radius: 2vw;
    font-size: 1.5em;
    text-align: center;
    *{
      margin-bottom: 0.9vw;
    }
  }
  .siguenos{
    h3{
      font-family: "Rancho";
      font-size: 3em;
      margin: 1.2em;
    }
  }